@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--ff-primary: 'Inter', sans-serif;

	--color-light: #ffffff;
	--color-dark: #111111;
	--color-gray: #ffffff80;
}

body {
	font-family: var(--ff-primary);
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	background-color: var(--color-dark);
	color: var(--color-light);
	min-height: 100vh;
}

/* HEADER */

.header {
    border-bottom: 1px solid var(--color-light);
    padding: 1em;
}

.header > h3 {
    font-weight: inherit;
}

/* POSTS */

.posts {
    padding: 1.5em;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:1em;
}

/* POST */

.post{
    border: 1px solid var(--color-gray);
    border-radius:15px;
    padding:0.2em;
    cursor: pointer;
}

.post:hover{
    opacity: 0.8;
}

.post-image{
    width: 100%;
    height: auto;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    object-fit: cover;
    object-position: center;
}

.post-body{
    padding: 0.5em;
    color:var(--color-gray);
}

.post-body > a{
    color:var(--color-gray);
    text-decoration: none;
}

/* DETAILED POST */

.detailed-post-image{
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
    max-width: 250px;
}

.detailed-post{
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap:1em;
}

.detailed-post > h2{
    font-weight: inherit;
}

/* LOADER */

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}